.heroSection {
  text-align: center;
  padding: 10rem;
  background-image: url(/img/heroImage.JPG);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.sectionSearchBar {
  position: relative;
  bottom: 6rem;
 
}
.searchBar {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  margin: 0 auto;
  width:52rem ;
  background-color: #f5f5f5;
  border-radius: 1rem;
  filter: drop-shadow(0 0 0.75rem rgb(79, 79, 79));
}
.searchBar > input[type="text"],
.searchBar > input[type="date"] {
  height: 1.5rem;
  width: 14rem;
  border-radius: 0.4rem;
  padding: 0.3rem;
  border: 0.1rem solid #ccc;
}
.searchBar > input[type="button"] {
  border-radius: 0.4rem;
  padding: 0.6rem;
  border: 0.1rem solid #ccc;
  background-color: #3498db;
  /* filter: drop-shadow(0 0 0.15rem rgb(79, 79, 79)); */
}
.sectionTrajet {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 2rem;
    margin: 1rem;
}
.sectionTrajet > h2, .imageTrajet > p{
    padding-bottom: 2rem;
}
.imageTrajet > img, .imageCouple > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border-radius: 1rem;
  filter: drop-shadow(0 0 0.15rem rgb(79, 79, 79));
}
.sectionSecurite{
    display: flex;
    align-items: center;
    padding: 1rem;
    background-color:#ECF0F1 ;
}
.sectionSecurite > p, .sectionSecurite > h2{
    padding-bottom: 2rem;
}
.sectionTrajetDirect{
   text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 1rem;
}
.sectionTrajetDirect > h2{
    padding-bottom:1rem ;
}
.choix{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.choixTrajet{
    margin-bottom: 1.3rem;
    background-color: #f5f5f5;
    width: 15rem;
    min-height: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    border-radius: 0.6rem;
    filter: drop-shadow(0 0 0.45rem rgb(79, 79, 79));
}
@media screen and (max-width: 768px) {
  .heroSection > h1 {
    display: none;
  }
  .searchBar {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    margin: 0 auto;
    background-color: #f5f5f5;
    border-radius: 1rem;
    min-height: 12rem;
    max-width:18rem ;
    filter: drop-shadow(0 0 0.75rem rgb(79, 79, 79));
  }
  .sectionTrajet {
    display: block;
}
  .imageTrajet > img, .imageCouple > img {
    margin-top: 2rem ;
    width: 100%;
  }
  .sectionSecurite{
    display: block;
  }
}